<!DOCTYPE html>
<html>
<head>
    <title>Загрузка сметы ГГЭ</title>
    <style>
        /* Красим все списки ошибок в красный цвет */
        .errorlist {
            color: red;
            list-style: none; /* Убираем точки списка */
            padding: 0;
            margin: 0;
            /* font-weight: bold; */
        }
    </style>
</head>
<body>
    <h1>Загрузить новую смету</h1>
    
    <!-- {% if form.file.errors %}
        {% for error in form.file.errors %}
            <div style="color: red; border: 1px solid red; padding: 5px; margin-bottom: 5px;">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %} -->

    <!-- enctype важен для загрузки файлов! -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}  <!-- Защита Django от взлома (обязательно) -->
        {{ form.as_p }}   <!-- Django сам нарисует поля формы в тегах <p> -->
        <button type="submit">Отправить на проверку</button>
    </form>

    <hr>
    <a href="/admin/">Перейти в админку</a>

    <hr>
    <h2>Список загруженных смет</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Файл</th>
            </tr>
        </thead>
        <tbody>
            {% for est in estimates %}
            <tr>
                <td>{{ est.title }}</td>
                <td>{{ est.created_at|date:"d.m.Y H:i" }}</td>
                <td>{{ est.get_status_display }}</td> <!-- Магия: выводит "Новая" вместо "new" -->
                <td><a href="{{ est.file.url }}">Скачать</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Смет пока нет.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

